@{
    ViewBag.Title = "Contact us for more information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ruff Dog House<br />
    2705 Chase aWay
    Dogtown, Cincinnati 45219-2705<br />
    <abbr title="Phone">PH:</abbr>
   1.800.RuffDog  1.800.783.3364
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@RuffDog.com">Support@RuffDog.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@RuffDog.com">Marketing@RuffDog.com</a>
</address>