@{
    ViewBag.Title = "Home Page";
}

<h1>RUFF ESTIMATE</h1>

<div class="jumbotron">
    

   <!-- <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>-->
   <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>--> 
</div>




<div class="row">
    <div class="col-md-4">
        <h2>   Are ready to become a dog owner!</h2>
       <!-- <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
                    </p>-->
        <p>According to Drs. Foster & Smith Vet Supply Store: The average cost for the first year of raisings ranged from  $1977.00-$6600.00.
        Total over the life of a 14 year old dog ranged from $12,468.00-$38,905.00.
       <p> </p>

        
       <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Take our quiz! &raquo;</a></p>--> 
    </div>
    <div class="col-md-4">
        <h2>Find the best breeds for you!</h2>
            <p>Login to Ruff Estimate to find dogs that match your compatablility!</p>
       
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Take our quiz! &raquo;</a></p>
    </div>
    <div class="col-md-4">
       <<!-- <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
    </div>
</div>