@model IEnumerable<RuffEstimate.Models.Question>



@{
    ViewBag.Title = "DogQuiz";
}

<div class =" col-lg-8">
    <br />
    <br />
    <h2>Here's a pop quiz you can't fail!</h2>
    <h3>Answer the following questions carefully so we can match you with a compatible dog breed.</h3>
    <img src="~/Content/Images/DogDiv2.jpg" />
    <br />
    </div>
@*<div class=" col-lg-3">
</div>*@


<form action="" method="get">
    <table class="table">
        @*<tr>
            <th>@Html.DisplayNameFor(model => model.QuestionString)</th>
            <th>            </th>
            <th>            </th>            
        </tr>*@
        @foreach (var item in Model)
                {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.QuestionString)</td>
                <td><input type="radio" name="@Html.DisplayFor(modelItem => item.id)" value="True">Yes</td>
                <td><input type="radio" name="@Html.DisplayFor(modelItem => item.id)" value="False">No</td>
            </tr>
                }
        </table>
    <input type="submit" name="Submit" value="Submit" />
    <input type="reset" name="Reset" value="Reset" />
</form>
