@model IEnumerable<RuffEstimate.Models.Question>



@{
    ViewBag.Title = "Index";
}

<h3>Here's a pop quiz you can't fail!</h3>
<p>Answer the following questions carefully so we can match you with a compatible dog.</p>


<form action="" method="get">
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.QuestionString)</th>
            <th>            </th>
            <th>            </th>            
        </tr>
        @foreach (var item in Model)
                {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.QuestionString)</td>
                <td><input type="radio" name="@Html.DisplayFor(modelItem => item.id)" value="True">Yes</td>
                <td><input type="radio" name="@Html.DisplayFor(modelItem => item.id)" value="False">No</td>
            </tr>
                }
        </table>
    <input type="submit" name="Submit" value="Submit" />
    <input type="reset" name="Reset" value="Reset" />
</form>
